<div [ngSwitch]="state">
  <app-flight-check-ask-location [(state)]="state" *ngSwitchCase="'askLocation'"></app-flight-check-ask-location>
  <app-flight-check-ask-location-address [(state)]="state" *ngSwitchCase="'askLocationAddress'"></app-flight-check-ask-location-address>
  <app-flight-check-choose-airports [(state)]="state" *ngSwitchCase="'chooseAirports'" [lat]="lat" [lon]="lon"></app-flight-check-choose-airports>
  <app-flight-check-calculate-route [(state)]="state" *ngSwitchCase="'calculateRoute'" [date]="getRelativeDate(-1)"></app-flight-check-calculate-route>
  <app-flight-check-calculate-route [(state)]="state" *ngSwitchCase="'calculateRoute'" [date]="getRelativeDate(1)" [reverse]="true"></app-flight-check-calculate-route>
</div>
