<div>
  <mz-progress
    [backgroundClass]="'blue lighten-4'"
    [progressClass]="'blue'"
    *ngIf="!options">
  </mz-progress>
  <div ngClass="row" *ngIf="options">
    <h3>{{ event.name }}</h3>
    <div ngClass="col s8">
      <img src="{{ getLargestImage(event).url }}" style="width: 100%; max-width: 100%;"/>
      <p>
        <i mz-icon [icon]="'date_range'"></i> {{ getDateAsString(event) }}
      </p>
      <p>
        <a mz-button href="{{ event.url }}">Tickets kaufen
          ab {{ event.priceRanges[0].min }}{{ event.priceRanges[0].currency }}</a>
      </p>
    </div>
    <div ngClass="col s4">
      <div style="height: 300px;"
           leaflet
           [leafletOptions]="options"
           [leafletLayers]="layers">
      </div>
      <mz-card *ngIf="address">
        <mz-card-content>
          <h5>{{ address.name }}</h5>
          <hr>
          <p *ngIf="address.address.line1">{{ address.address.line1 }}</p>
          <p *ngIf="address.address.line2">{{ address.address.line2 }}</p>
          <p *ngIf="address.address.line3">{{ address.address.line3 }}</p>
          <p>{{ address.postalCode }} {{ address.city.name }}</p>
          <p>{{ address.country.name }}</p>
        </mz-card-content>
      </mz-card>
      <app-flight-check [lat]="address.location.latitude" [lon]="address.location.longitude"></app-flight-check>
    </div>
  </div>
</div>
