<div>
  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix
       [icon]="'search'">
    </i>
    <input mz-input
           placeholder="Suche nach Events . . ."
           type="text"
           (keydown.enter)="fireSearch()"
           [(ngModel)]="text">
  </mz-input-container>
  <mz-progress
    [backgroundClass]="'blue lighten-4'"
    [progressClass]="'blue'"
    *ngIf="result === null">
  </mz-progress>
  <app-search-result *ngIf="result" [result]="result"></app-search-result>
</div>
