<div *ngIf="flightResult">
  <mz-collection>
    <mz-collection-header><h4>{{ from }} - {{ to }}</h4></mz-collection-header>
    <mz-collection-item *ngFor="let schedule of flightResult.ScheduleResource.Schedule">{{ getTime(schedule.TotalJourney.Duration) }} - {{ schedule.Flight.length - 1 }} mal Umsteigen</mz-collection-item>
  </mz-collection>
</div>
