<mz-card>
  <mz-card-content>
    <mz-input-container>
      <input mz-input type="text" [(ngModel)]="searchText" (keyup)="searchDelay(searchText)">
    </mz-input-container>
    <mz-select-container *ngIf="photonResult">
      <select mz-select
              required
              name="chooseAddress"
              id="chooseAddress"
              [label]="'Addresse'"
              [placeholder]="'Beispielweg 123, 12345 Musterstadt'"
              [(ngModel)]="photonAddress"
      >
        <option [ngValue]="photon.geometry.coordinates"
                *ngFor="let photon of photonResult.features">{{ photonString(photon.properties) }}</option>
      </select>
    </mz-select-container>
  </mz-card-content>
  <mz-card-action>
    <a (click)="apply()">Bestätigen</a>
  </mz-card-action>
</mz-card>
