<mz-card>
  <mz-card-content>
    <mz-spinner [color]="'green'" *ngIf="!startAirports"></mz-spinner>
    <mz-select-container *ngIf="startAirports">
      <select mz-select
              required
              name="startAirport"
              id="startAirport"
              [label]="'Startflughafen'"
              [placeholder]="'Startflughafen'"
              [(ngModel)]="startAirport"
      >
        <option [ngValue]="airport" *ngFor="let airport of startAirports">{{airport.codeIataAirport}} - {{ airport.nameAirport }} ({{ airport.distance.toString().split('.')[0] }}.{{ airport.distance.toString().split('.')[1].substr(0, 2) }} km)</option>
      </select>
    </mz-select-container>
    <mz-spinner [color]="'red'" *ngIf="!destinationAirports"></mz-spinner>
    <mz-select-container *ngIf="destinationAirports">
      <select mz-select
              required
              name="destinationAirport"
              id="destinationAirport"
              [label]="'Zielflughafen'"
              [placeholder]="'Zielflughafen'"
              [(ngModel)]="destinationAirport"
      >
        <option [ngValue]="airport" *ngFor="let airport of destinationAirports">{{airport.codeIataAirport}} - {{ airport.nameAirport }} ({{ airport.distance.toString().split('.')[0] }}.{{ airport.distance.toString().split('.')[1].substr(0, 2) }} km)</option>
      </select>
    </mz-select-container>
  </mz-card-content>
  <mz-card-action>
    <a (click)="apply()">Bestätigen</a>
  </mz-card-action>
</mz-card>
