<mz-card>
  <mz-card-content>
    Damit wir eine Route für dich suchen können, musst du uns deinen Standort nennen.
  </mz-card-content>
  <mz-card-action>
    <a (click)="getBrowserLocation()" *ngIf="canDoGeolocation()">GPS / Standort</a>
    <a (click)="askForLocation()">Addresse</a>
  </mz-card-action>
</mz-card>
