<div>
  <!--<mz-collection>
    <mz-collection-item [avatar]="true" *ngFor="let event of result._embedded.events">
      <div class="title">{{event.name}}</div>
      <div>{{ getDateAsString(event) }}</div>
      <div *ngIf="event._embedded && event._embedded.venues && event._embedded.venues[0]">{{ event._embedded.venues[0].name }} - {{ event._embedded.venues[0].city.name }}</div>
      <a mz-secondary-content routerLink="/detail/{{ event.id }}"><i mz-icon-mdi [icon]="'send'"></i></a>
    </mz-collection-item>
  </mz-collection>-->
  <div ngClass="row" *ngIf="result && result.length > 0">
    <div ngClass="col s6" *ngFor="let event of result">
      <mz-card
        [horizontal]="true"
        class="blue-grey darken-1 white-text"
        style="height: 190px;">
        <mz-card-image *ngIf="event.images && event.images[0]">
          <img src="{{ event.images[0].url }}" alt="{{ event.name }}" style="height: 190px;"/>
        </mz-card-image>
        <mz-card-content>
          <div class="title">{{event.name}}</div>
          <div>{{ getDateAsString(event) }}</div>
          <div *ngIf="event._embedded && event._embedded.venues && event._embedded.venues[0]">{{ event._embedded.venues[0].name }} - {{ event._embedded.venues[0].city.name }}</div>
        </mz-card-content>
        <mz-card-action>
          <a routerLink="/detail/{{ event.id }}">Mehr</a>
        </mz-card-action>
      </mz-card>
    </div>
  </div>
  <div *ngIf="result && result.length === 0">
    Leider wurden keine Ergebnisse gefunden! :(
  </div>
</div>
